body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
.phone-span {
	font-weight: 700;
	color: $brand-primary;
}