// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #50c6f2;
$secondary:		#48b2da;

$lightgrey:		#f1f1f1;